<br>
<img align="center" src="imagenes/logo.png"  width="200" height="141">
<font size=36><center> Machine Learning con Python </center> </font>
<br>

<h1 align='center'> Modulo II: Introducción a Python </h1>
<h2 align='center'>  Variables </h2>

---

# Variables

Las variables son expresiones sumamente importantes en cualquier lenguaje de programación y que utilizamos para almacenar valores en un espacio en la memoria del computador y que podemos acceder a dicho valor cada vez que sea necesario. Con las variables podemos realizar operaciones y generar nuevas variables o modificar las ya existentes.

En Python, así como en otros lenguales existen ciertos criterios o normas que se deben tener en cuenta a la hora de crear una variable. Por ejemplo:
* No puede comenzar con un número.
* No puede contener espacios.
* No puede tener simbolos especiales (#á-¿?ñ)
* Para crear un espacio podemos usar el símbolo "_"

Python tiene muchos tipos de variables básicas que forman parte del núcleo del lenguaje, son lo que se llama primitivas. 

Las primitivas más comunes son:
* strings,
* numeros, 
* booleanos

En Python, a diferencia de otro lenguajes, **no** es necesario declarar el tipo de variable cuando se crea, el interprete de Python se encarga de determinar su tipo. Obviamente es necesario que la variable obedezca a ciertas sintáxis que iremos viendo.

Para asignar un valor a una variable solamente debemos colocar el signo "=" después del nombre de la variable y seguidamente el valor que tomará dicha variable. Veremos ejemplos de esto a medida que esudiamos los tipos de datos en Python.

# Variables numéricas

Las variables numéricas en Python son principalmente de dos tipos:
* **Enteros:** Las variables enteras en Python son tipo **"int"** , al igual que en otros lenguajes.
* **Decimales:** Las variables decimales son tipo **"float"**.

In [ ]:
# Aqui creamos una variable de tipo entera y de valor 3.
var1 = 5

In [ ]:
var1

In [ ]:
var1 = 8
var1

In [ ]:
# Como podemos apreciar, Python automaticamente reconoce que la variable es tipo entero.

type(var1)

In [ ]:
# Ahora veamos una tipo float

var2 = 3.5

In [ ]:
# Al igual que en caso entero, Python identifica que la variable es tipo float

type(var2)

## Operaciones

### Suma y Resta

In [ ]:
var3 = var1 + var2
var3

In [ ]:
var4 = var1 - var2
var4

In [ ]:
type(var4)

### Multiplicación y Potenciación

In [ ]:
# En la multiplicación se usa el simbolo "*"

3*4

In [ ]:
var1 * var2

In [ ]:
# Para potenciación usamos doble *, es decir "**"

2**3

In [ ]:
var1**var2

### División

Para la división, dependiendo lo que se quiera de la operación, existen varios operadores.

* "/" : Efectúa la división, tal como hacemos en una calculadora.
* "//": Devuelve el cociente entero de la división. 
* "%" : Devuelve el resto de la división

In [ ]:
#******************* Ejemplos*********************
# Cociente de la división de números flotantes

5/2

In [ ]:
# Cociente de la división de números enteros.

5//2

In [ ]:
# Resto de la división de números enteros

5 % 2

In [ ]:
# Otro ejemplo...
# Vamos a crear una variable que guarde el promedio de tres notas de un alumno:
nota_1 = 5
nota_2 = 8
nota_3 = 10

El promedio estaría definido así:
$$promedio=\frac{nota_{1}+nota_{2}+nota_{3}}{3}$$

In [ ]:
# Aquí creamos la variable promedio
promedio = (nota_1 + nota_2 + nota_3)/3
promedio

In [ ]:
# Vamos ahora a imprimir por pantalla el resultado con formato de dos decimales

print("La nota promedio del alumno es {:.2f}".format(promedio))

## Otras operaciones

In [ ]:
#Importar la librería de funciones matemáticas
import math as mt

In [ ]:
mt.pi

In [ ]:
#Ejemplos de algunas funciones matemáticas (round)
round(9.5)

In [ ]:
#Ejemplos de algunas funciones matemáticas (ceil)
mt.ceil(9.9)

In [ ]:
#Ejemplos de algunas funciones matemáticas (trunc)
mt.trunc(9.9999999)

In [ ]:
#Ejemplos de algunas funciones matemáticas (factorial)
mt.factorial(4)

In [ ]:
# Valores especiales
round(mt.pi,8)

In [ ]:
# función exponencial

mt.exp(2)

In [ ]:
# función seno
mt.sin(mt.pi/2)

---

# Variables tipo strings
Las variables tipo **string** se usan para representar texto. Para que Python reconozca este tipo de variables, es necesario que se encuentren encerradas entre comillas simples ' ' o comillas dobles " "

In [1]:
var1 = "Hola"
var2 = "Mundo"

In [2]:
var1

'Hola'

In [3]:
# El comando print() se usa en Python para imprimir por pantalla
print(var1)

Hola

In [4]:
print(var2)

Mundo

In [5]:
print(var1,var2)

Hola Mundo

In [6]:
# Podemos ver el tipo de variable usando el comando type()
type(var1)

str

## Operaciones con strings

Los strings se pueden unir para formar strings más largos. Existen varias 
formas de unir o concatenar strings, una forma es usando el simbolo "+",
que para variables numéricas se usa para usar y para variables tipo string
se usa para concatenar.

In [7]:
# Creamos una nueva variable que llamamos "var" y la usamos para almacenar la concatenación de las variables 
# var1 y var2 agregando un espacio en blanco entre ellas.

var = var1 + " " + var2

In [8]:
print(var)

Hola Mundo

In [9]:
var1 + var2

'HolaMundo'

In [10]:
# Otro ejemplo
a = "3"
b = "4"
print(a + b)

34

Note que el resultado anterior de a+b es 34, en realidad es la concatenación de "3" y "4". El resultado de la suma **no** es 7, ya que las variables son tipo string, no numéricas.

Otra forma de concatenar string es usando el método **format()**. Este método permite colocar un string o varios string dentro de otro. Veamos un ejemplo:

In [11]:
# Definimos una variable que llamamos profesion y dentro del string colocamos llaves {} en el lugar donde deseamos 
# insertar las variables.

profesion = "Hola, soy {} y mi profesión es {}"

In [12]:
# En format agregamos tantas variables separadas por "," como llaves hayamos definido en la variable profesion. 
# Las variables deben ir en el orden en el que queremos que aparezcan.

print(profesion.format("Juan","Ingeniero"))

Hola, soy Juan y mi profesión es Ingeniero

Podemos apreciar como se sustituyen las llaves de la variable profesion por los valores que pasamos como parámetros en el método format.

In [13]:
# En mi caso puedo presentarme así

print(profesion.format("Román Ramos","Matemático"))

Hola, soy Román Ramos y mi profesión es Matemático

## Otros métodos para las variables tipo string

### Convertir texto a mayúscula/minuscula

In [14]:
# Creamos una variable que llamamos texto, todo en minuscuca
texto = "esto es una linea de texto"
texto

'esto es una linea de texto'

In [15]:
# Con el metodo upper() podemos transformar el texto a mayúscula
texto.upper()

'ESTO ES UNA LINEA DE TEXTO'

El proceso opuesto lo hace el método lower()

In [16]:
mayuscula = "ESTO ES UN TEXTO"
mayuscula

'ESTO ES UN TEXTO'

In [17]:
# Texto convertido a minúscula
mayuscula.lower()

'esto es un texto'

### Primera letra en mayúscula (Capitalize)

In [18]:
# Usamos la variable del ejemplo anterior pero ahora todo en minúscula

minuscula = mayuscula.lower()
minuscula

'esto es un texto'

In [19]:
# Si usamos el método capitalize(), podemos convertir la primera letra en mayúscula

minuscula.capitalize()

'Esto es un texto'

### Separación de string

Para separar un string podemos usar el método split(), el cual nospermite separar un string en el caracter que se le indique como parámetro

In [20]:
# Vamos a separar las palabras "Hola" y "Mundo" indicando que usaremos el caracter "_" como separador

variable="Hola_Mundo"

In [21]:
variable.split("_")

['Hola', 'Mundo']

In [22]:
# Podemos asignar cada string a una nueva variable

[variable1,variable2]=variable.split("_")

In [23]:
variable1

'Hola'

In [24]:
variable2

'Mundo'

### Reemplazar fragmento de texto

Para esto usaremos el método replace(arg1,arg2), donde arg1 es el fragmento que queremos reemplazar y arg2 es el que sustituirá el fragmento anterior.

In [25]:
# Consideremos la siguiente variable y reemplacemos el nombre "Carlos" por "Pedro"

var = "Me llamo Carlos"
var

'Me llamo Carlos'

In [26]:
var.replace("Carlos","Pedro")

'Me llamo Pedro'

---

# Variables tipo booleanas

Una variable booleana, es aquella que solo admite dos valores. verdadero (True) o falsa (False)

In [27]:
# Vamos a definir una variable booleana que llamaremos "bol"

bol = True

In [28]:
# Veamos su tipo

type(bol)

bool

Para cambiar su valor de verdad de una variable booleana podemos utilizar el operador lógico "not".

In [29]:
# Cambia el valor de la variable bol a False

not bol

False

Las variables booleanas pueden ser el resultado de comparaciones lógicas y nos permite verificar si alguna condiciónde cumple o no.

In [30]:
# Ejemplo: Comparemos dos números y veamos el resultado que retorna. En este caso estamos utilizando el operador relacional 
# "mayor que >"
5>3

True

In [31]:
# Operador relacional "menor que <"
5<3

False